services:
  db:
    image: postgres:16-alpine
    container_name: nurtricenter_patient_db
    environment:
      POSTGRES_DB: nurtricenter_patient_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: nurtricenter_patient_api
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_URL: jdbc:postgresql://db:5432/nurtricenter_patient_db
      DB_USER: postgres
      DB_PASSWORD: admin
    ports:
      - "8080:8080"

volumes:
  pgdata:
